@import "../global.scss";

.cell {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $base-black-2;
  }
}

#root.dark {
  .cell:hover {
    color: $base-white-2;
    background-color: $base-black-2;
  }
}

#root.light {
  .cell:hover {
    color: $base-black-2;
    background-color: $base-white-2;
  }
}

.cell:hover {
  background-color: $base-black-2;
}

.icon {
  width: 40px;
  height: 40px;
}

.custom-break {
  overflow-wrap: normal;
  word-break: break-word;
}
