.cell {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 8px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);

    .popup {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  width: 40px;
  height: 40px;
}

.custom-break {
  overflow-wrap: normal;
  word-break: break-word;
}

.popup {
  position: absolute;
  top: -30px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}