@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./globals.scss";

html {
  user-select: none;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

select::-ms-expand {
  display: none;
}

::-webkit-scrollbar {
  width: 1em;
}

#menu-bar {
  height: $navbar-height;
}

#menu-foot {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: $footer-height;
  font-size: small;
}

.top-nav {
  top: $navbar-height;
}

.bottom-minus-nav {
  bottom: -$navbar-height;
}

.justify-responsive {
  justify-content: center;
}

@media (max-height: 860px) {
  .justify-responsive {
    justify-content: start;
  }
}

#root > div:nth-last-child(2) {
  height: calc(100vh - $footer-height - $navbar-height);
  top: calc($navbar-height);
  overflow-y: auto;
}

#root.dark {
  .bg-black-1 {
    background-color: $base-black-1;
  }

  .hover\:bg-black-1:hover {
    background-color: $base-black-1;
  }

  .txt-white-1 {
    color: $base-white-1;
  }

  .bg-black-2 {
    background-color: $base-black-2;
  }

  .hover\:bg-black-2:hover {
    background-color: $base-black-2;
  }

  .bg-white-2 {
    background-color: $base-black-2;
  }

  .txt-white-2 {
    color: $base-white-2;
  }

  .hover\:txt-white-2:hover {
    color: $base-white-3;
  }

  .bg-black-3 {
    background-color: $base-black-3;
  }

  .bg-white-3 {
    background-color: $base-white-3;
  }

  .txt-white-3 {
    color: $base-white-2;
  }

  ::-webkit-scrollbar-track {
    background-color: $base-black-3;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $base-black-2;
  }
}

#root.light {
  .bg-black-1 {
    background-color: $base-white-1;
  }

  .hover\:bg-black-1:hover {
    background-color: $base-white-1;
  }

  .txt-white-1 {
    color: $base-black-1;
  }

  .bg-black-2 {
    background-color: $base-white-2;
  }

  .hover\:bg-black-2:hover {
    background-color: $base-white-2;
  }

  .bg-white-2 {
    background-color: $base-black-2;
  }

  .txt-white-2 {
    color: $base-black-2;
  }

  .hover\:txt-white-2:hover {
    color: $base-black-3;
  }

  .bg-black-3 {
    background-color: $base-white-3;
  }

  .bg-white-3 {
    background-color: $base-black-3;
  }

  .txt-white-3 {
    color: $base-black-2;
  }

  ::-webkit-scrollbar-track {
    background-color: $base-white-3;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $base-white-2;
  }
}
